@import '/src/assets/styles/vars/mediaQueries';

@media screen and (max-width: #{calc($ui-desktop - 1px)}) {
}

@media screen and (max-width: #{calc($ui-laptop - 1px)}) {
	.section {
		& > *:nth-child(1) {
			margin-bottom: 25px;
		}
	}
}

@media #{$ui-mobile-interval} {
	.section {
		& > *:nth-child(1) {
			width: 100%;
		}
	}

	.degrees {
		grid-template-columns: 1fr;
	}
}
