@import '/src/assets/styles/vars/mediaQueries';

@media screen and (max-width: #{calc($ui-desktop - 1px)}) {
}

@media screen and (max-width: #{calc($ui-laptop - 1px)}) {
	.review {
		padding: 25px;

		& > div:nth-child(1) {
			grid-template-columns: 1fr 50%;
			grid-column-gap: 25px;
		}
	}

	.img_wrapper {
		margin-top: 15px;
	}

	.date {
		margin-top: 5px;

		font-size: 14px;
		line-height: 14px;
	}
}

@media #{$ui-mobile-interval} {
	.review {
		& > div:nth-child(1) {
			grid-template-columns: 1fr;

			& > *:nth-child(1) {
				margin-bottom: 20px;
			}
		}
	}
}
