@import '/src/assets/styles/vars/colors';

.specialist {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 100px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.text {
	& > *:nth-child(2) {
		margin-top: 15px;
		color: rgba(0, 0, 0, 0.5);
	}
	& > *:nth-child(3) {
		margin-top: 30px;
	}
}

.link {
	margin-top: 20px;

	display: flex;
	align-items: center;
	gap: 10px;

	font-size: 16px;
	line-height: 16px;
	color: $color-green;
}

.arrow {
	width: 9px;
	height: 9px;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	background-image: url('/src/assets/icons/link-card/arrow.svg');
}

@import './adaptive';
