@import '/src/assets/styles/vars/mediaQueries';

@media screen and (max-width: #{calc($ui-desktop - 1px)}) {
}

@media screen and (max-width: #{calc($ui-laptop - 1px)}) {
	.wrapper {
		margin-top: 15px;
		grid-column: 1;

		& > *:nth-child(2) {
			margin-top: 15px;
			width: 50%;
		}
	}
}

@media #{$ui-mobile-interval} {
	.wrapper {
		& > *:nth-child(2) {
			width: 100%;
		}
	}
}
